#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# Normal rules
#
/*.swp

# output
/output/210.bin
/output/rootfs.tar
/output/s5pv210-x210.dtb
/output/u-boot.bin
/output/uImage

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.mailmap

# gdb files
#.gdb_history

# cscope files
cscope.*

# tags files
/tags
/ctags
/etags
